<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartalarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.smartalarm.SetAlarm"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.smartalarm.SetPhysicalAlarm" ></service>
		<service android:name="com.example.smartalarm.SetSilentAlarm"></service>
		<service android:name="com.example.smartalarm.SetAlarmService"></service>
        <activity
            android:name="com.example.smartalarm.Preferences"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name="com.example.smartalarm.GPS_Test"
            android:label="@string/title_activity_gps__test" >
        </activity>
        
         <receiver android:name="com.example.smartalarm.MyReceiver"/> 
    </application>

</manifest>
